@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}