.footer {
    height: 76px;
    min-width: 1100px;
    width: 100%;
    overflow: hidden;
    background: #4b73b5;
}
   
.footer__left, .footer__center, .footer__right {
    float: left;
    width: 33.3%;
    height: 100%;
}
   
.footer__left {
    color: #f5f5f5;
    font-size: 14px;
    text-align: left;
}
   
.footer__left-desc {
    max-width: 270px;
    margin-top: 8px;
}
   
.footer__left-loft {
    color: #ffffff;
    font-weight: bold;
}
   
.author {
    color: #ffffff;
    display: inline;
}
   
.author__name {
    font-weight: bold;
    display: inline;
}
   
.footer__center {
    text-align: center;
}
   
.logo-bot {
    margin-top: 15px; 
    margin-right: 45px;
}
   
.footer__right {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
}

.footer__right-icon {
    margin-top: 11px;
    margin-right: 49px;
    margin-bottom: 8px;
}

.icon {
    margin-right: 52px;
}

.icon__link {
    display: inline-block;
    background: url('../../img/socials/sprite.png') 0 0 no-repeat;
    height: 20px;
    width: 21px;
    margin-right: 5px;
}

.icon__link-fb {
    background: url('../../img/socials/sprite.png') -100px 0 no-repeat;
}
.icon__link-gp {
    background: url('../../img/socials/sprite.png') -200px 0 no-repeat;
}
.icon__link-tw {
    background: url('../../img/socials/sprite.png') -300px 0 no-repeat;
}
.icon__link-mail {
    background: url('../../img/socials/sprite.png') -400px 0 no-repeat;
}

.icon__link:hover {
    background: url('../../img/socials/sprite.png') 0 -100px no-repeat;
    height: 20px;
    width: 21px;
}
.icon__link-fb:hover {
    background: url('../../img/socials/sprite.png') -100px -100px no-repeat;
}
.icon__link-gp:hover {
    background: url('../../img/socials/sprite.png') -200px -100px no-repeat;
}
.icon__link-tw:hover {
    background: url('../../img/socials/sprite.png') -300px -100px no-repeat;
}
.icon__link-mail:hover {
    background: url('../../img/socials/sprite.png') -400px -100px no-repeat;
}
