.form {
    width: 700px;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 34px 70px;
    margin-top: 95px;
    margin-left: 75px;
    margin-bottom: 60px;
}
.form__title {
    font-size: 50px;
    font-weight: bold;
    color: #221f1f;
    margin-bottom: 9px;
}

.form__row {
    margin-bottom: 15px;
}

.form__cell {
    display: block;
    float: left;
    width: 270px;
}

.form__cell:first-child {
    margin-right: 20px;
 }

 .form__field-title {
    color: #221f1f;
    font-size: 14px;
    margin-bottom: 7px;
  }
.form__input-text {
    width: 100%;
    height: 45px;
    padding: 13px 10px;
    font-size: 14px;
    font-weight: 300px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.form__input-text:focus {
    border-color: #4b73b5;
    outline: none;
}
.form__textarea {
    height: 90px;
    width: 560px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 10px;
    resize: none;
    font-size: 14px;
}

.form__textarea:focus {
    border-color: #4b73b5;
    outline: none;
}
 
.form__radio-elem:checked+.form__radio-fake {
    border: 1px solid #4b73b5;
}
  
  .form__radio-elem:checked + .form__radio-fake:after {
    display: block;
} 
  
  .form__radio-elem:checked+.form__radio-fake+.form__radio-text {
    color: #4b73b5;
}

.form__radio-fake {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #cbcbcb;
    position: relative;
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #efefef 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fdfdfd 0%, #efefef 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.form__radio-fake:after {
    content: "";
    display: none;
    width: 8px;
    height: 8px;
    background: #4b73b5;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.form__radio-elem {
    display: inline-block;
    vertical-align: middle;
    display: none;
}

.form__radio-text {
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
}

.form__controls-title {
    font-size: 14px;
    max-width: 227px;
    margin-bottom: 5px;
}
  
.form__controls-left, .form__controls-right {
    float: left;
     width: 50%;  
}
  
.form__controls-right {
    text-align: right;
    
    
} 
.form__submit {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    width: 153px;
    height: 45px;
    border-radius: 5px;
    letter-spacing: 2px;
    border: 0px;
    cursor: pointer;
    background: url('../../img/icons/intro-hov.png') 117px 15px #4b73b5 no-repeat;
    text-align: left;
    padding-left: 18px;
}
.form__submit:hover {
    background-color: #ffffff;
    color: #1c5bc3;
    background: url('../../img/icons/intro.png') 117px 15px no-repeat;
    
}
